html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-template-columns: 30% 70%;
	gap: 20px;
}

.enlaces {
	position: sticky;
	top: 20px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.nav a {
	display: block;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 3px;
	color: #2063ff;
}

.nav a:hover {
	background: #ccedff;
}

.nav a.activo {
	font-weight: 700;
	background: #2063ff;
	color: #fff;
}

.seccion {
	padding: 0px 40px 40px 40px;
	margin-bottom: 40px;
	border-radius: 5px;
	background: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.seccion p {
	font-size: 16px;
	line-height: 32px;
	font-weight: 400;
	color: #414141;
}

.seccion br {
	margin-bottom: 20px;
}

.encabezado {
	display: flex;
	align-items: center;
	font-weight: 700;
	padding-top: 20px;
	margin-bottom: 20px;
}

.encabezado a {
	display: inline-flex;
	align-items: center;
	margin-left: 10px;
}

.encabezado a svg {
	width: 26px;
	height: 26px;
}